@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input {
    width: 100%;
    padding: 0.5rem 0.75rem;
    font-size: 0.875rem;
    border: 1px solid #e5e7eb;
    border-radius: 0.5rem;
    transition-property: all;
    transition-duration: 150ms;
  }
  .input:focus {
    outline: none;
    box-shadow: 0 0 0 2px #fce7f3;
    border-color: #c84b8a;
  }
}
